.hello {
    // margin-top: 100px;
    margin-top: 8%;
}

.myimg {
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 20px;
    &__item {
        flex-basis: 50%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        &--img {
            animation: slideFromLeft 1.5s;
            box-shadow: -8px 6px 5px 0px rgba(50, 50, 50, 0.75);        
        }
        &--text {
            animation: slideFromRight 1.5s;
            box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
        }
    }
    &__text-title {
        font-size: 3rem;
        margin-top: 20px;
    }
    &__text-subtitle {
        font-size: 2rem;
    }
    &__text-about {
        margin-top: 20px;
        font-size: 1rem;
    }
    &__aboutme {
        margin-top: 10px;
        font-size: 1.2rem;
    }
    &__aboutme-link {
        color: $main-color;
    }
    &__aboutme-span-answer {
        margin-left: 10px;
    }
    &__buttons {
        margin-top: 40px;
        width: 100%;
        display: flex;
        justify-content: flex-start;
        gap: 40px;
    }
    &__btn {
        min-width: 170px;
        padding: 15px;
        border: none;
        border-radius: 0.3em;
        outline: none;
        cursor: pointer;
        transition: 1s all ease;
    }

    &__btn-works {
        position:relative;
        -webkit-transition: 1s ease-out;
        transition: 1s ease-out;
        z-index: 1;
        border-radius: 0.3em;
        background-color: $main-color;
        overflow: hidden;
        &:before{
            content:'';
            display:block;
            width:100%;
            height:3px;
            position:absolute;
            top:0;
            left:0;
            background:#fff;
            -webkit-transform:translateX(100%);
            transform:translateX(100%);
            -webkit-box-sizing:border-box;
            box-sizing:border-box;
            -webkit-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
          }
          &:after{
            content:'';
            display:block;
            width:100%;
            height:3px;
            position:absolute;
            bottom:0;
            left:0;
            background:#fff;
            -webkit-transform:translateX(-100%);
            transform:translateX(-100%);
            -webkit-box-sizing:border-box;
            box-sizing:border-box;
            -webkit-transition: 0.5s ease-in-out;
            transition: 0.5s ease-in-out;
          }
          &:hover{
            letter-spacing:2px;
            -webkit-box-shadow:0 5px 20px rgba(0,0,0,.5);
            box-shadow:0 5px 20px rgba(0,0,0,.5);
            &:before,
            &:after{
              -webkit-transform:translateX(0%);
              transform:translateX(0%);
              }
          }
    }
    &__btn-cv {
        position: relative;
        display: block;
        background-color: #FFF;
        &:hover {
            box-shadow: 7px 7px #2F4776;
            cursor: pointer;
        }
        a {
            color: $main-color;
        }
    }
    &__btn-link {
        color: $back-color;
    }
    &__btn-cvlink {
        color: $main-color;
    }
}     



